In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [3]:
df_lineups = pd.read_excel('../lineups.xlsx', sheet_name='Hoja1')
df_lineups.head()

,id,jersey_number,player_name,team,country,time_card,card_type,reason,period,position_id,position,from,to,from_period,to_period,start_reason,end_reason
0,0,1,Ignacio Salas,C.D. Retiro Sur,Spain,NaN,NaN,NaN,NaN,1,POR,00:00,NaN,1.0,NaN,XI,Final
1,1,3,Manuel Pascual,C.D. Retiro Sur,Spain,NaN,NaN,NaN,NaN,2,LD,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,Adrian Lopez,C.D. Retiro Sur,Spain,89:00,Yellow,Falta cometida,2.0,3,CB,00:00,NaN,1.0,NaN,XI,Final
3,3,6,Francisco José,C.D. Retiro Sur,Spain,NaN,NaN,NaN,NaN,4,LI,00:00,NaN,1.0,NaN,XI,Final
4,4,7,Juan Camilo,C.D. Retiro Sur,Spain,67:00,Yellow,Falta cometida,2.0,5,DC,00:00,84:00,1.0,2.0,XI,Táctico